@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #0b0b0b;
  font-family: "Outfit", sans-serif;
}

nav{
  background-color: rgb(23, 224, 23);

}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li{
  height: 50px;

}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(14, 38, 105);
  font-weight: bolder;

}
nav a:hover{
  color:white;
}
























